<div class="banner">
  <div class="topleft">
    <a href=notes#index>
      <%= image_tag("logo2.png", alt:"Notation", height: '30', width: '130') %>
    </a>
  </div>
</div>
<div class="middle">
  <h1>Welcome to Notation!</h1>
  <p>We've been expecting you</p>
  <div class="button">Login</div>
</div>
