<div class="split left">
  <div class="centered">
    <img src="<%= image_path('notepad.png')%>"  alt="notepad"/>
  </div>
</div>

<div class="split right">
  <div class="centered">
    <div class="button">
      <a href="/users/sign_in">Login</a>
    </div>
  </div>
</div>

