<div class="banner">
  <h1>A Note Taking App.</h1>
  <p class="lead">Note down your thoughts, to-dos... at any time, any place with style. </p>
  <br/>
  <% if current_user %>
    <a class="btn btn-lg" id="get-started" href="/users" role="button"><i>Get Started ❯</i></a>
  <%else %>
    <a class="btn btn-lg" id="get-started" href="/users/sign_in" role="button"><i>Get Started ❯</i></a>
  <% end %>
  </div>
</div>
