/* Style the navigation bar */
.navbar a{
    margin-bottom: 0;
    border-radius: 0;
    color: rebeccapurple;
    font-size: 18px;
}
.panel-info{
    border-color: lavender;
}

.panel-title {
    color: rebeccapurple;
}

.panel-info>.panel-heading {
    background-color: lavender;
    border-color: lavender;
}

.btn:hover{
    background-color: purple;
    border-color: purple;
}

.btn{
    background-color: rebeccapurple;
    border-color: rebeccapurple;

}