<div style="background-color: lavender; text-align: center; padding: 25px">

  <div class="email-title">
    <%= image_tag(attachments['logo3.png'].url, alt: 'Logo') %> <br/>
  </div>

  <div class="email-body" style="padding: 25px; background-color: #ffffff; margin: 50px 50px;text-align: left; border-radius: 5px; border-color: lavender">
    <h1 style="color: rebeccapurple; text-align: center">Forgot your password?</h1>

    <p> We've received a request to reset the password for the Notation account associated with <%= @resource.email%>. To continue, please click the link below.</p>

    <p style="text-align: center;">
      <a href="<%= edit_password_url(@resource, reset_password_token: @token) %>"
         style="background-color: rebeccapurple; font-size: 18px; font-family: 	Helvetica, Arial, sans-serif;
           font-weight: bold; text-decoration: none; padding: 14px 20px; color: #ffffff; border-radius: 5px;
           display: inline-block; text-align: center">Reset Your Password
      </a>
    </p>

    <p>If you didn't make this request, please disregard this email.</p>

    <p>Please note your password will not change unless you click the link above and create a new one. This link will expire in 60 minutes.If your link has expired, you can always request another.</p>

    <p style="text-align:center;"><em>---- The Notation team ----</em>
  </div>

</div>
